<h1>Packer Tracker</h1>

<h2>Hello there welcome to Packer Tracker Inc. A place where you can catalog your trips and the essentials that you will need.</h2>
<h2>Add a new trip below</h2>

<a href="/trips/new">Add a new Trip</a>
<a href="/trips">See a list of your trips</a>

